body {
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    min-width: 100vw;
    max-width: 100vw;
    background: ivory;
    text-align: center;
}
.secondbody {
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    background: ivory;
    text-align: center;
}
@media (min-width: 1024px) {

    .top {
        display: inline-flex;
        margin: -10px;
        width: 100%;
        vertical-align: middle;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    
    .logoname {
        align-self: flex-start;
    }
    
    .mylogo {
        margin-left: 70px;
        padding: 15px;
        height: 60px;
    }
    
    .end {
        display: inline-flex;
        justify-self: flex-end;
        vertical-align: middle;
        align-items: center;    
        margin-right: 85px;
    }
    
    .tag {
        color: black;
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .login {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        margin: 15px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        background: rgb(128, 193, 219);
        color: white; 
        padding-left: 6px;
    }
    .signin {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 110px;
        height: 50px;
        margin: 15px;
        margin-right: 5px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgb(128, 193, 219);
        color: rgb(128, 193, 219);
        background: ivory;
        padding-left: 6px;
    }
    
    .txt {
        padding-left: 3px;
        padding-bottom: 10px;
        padding-top: 2px;
    }
    .signin .txt {
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 0px;
        color: black;
    }
    
    button:hover {
        
        cursor: pointer;
    }
    /*start*/
    .logincont {
        width: 400px;
        height: 520px;
        margin: 30px auto;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
    }
    
    .logincreate {
        display: inline-flex;
        width: 99%;
        margin: 10px auto;
        height: 45px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .logincont b {
        font-size: 20px;
    }
    
    .footer {
        text-align: center;
        width: 100%;
        height: 400px;
        display: inline-block;
        justify-content: space-between;
        background: black;
        margin-left: -9px;
        padding: 10px;
        color: white;
        margin-bottom: -25px;
    }
    .ndfooter {
        width: 100%;
        height: 95%;
        display: inline-flex;
        justify-content: space-between;
        margin: 0px;
    }
    .footer svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .rightfooter {
        width: 45%;
        height: 100%;
        background: black;
        text-align: left;
        margin-left: 40px;
        
    }
    .leftfooter {
        width: 45%;
        height: 100%;
        display: inline-block;
        background: black;
        text-align: left;
        margin-right: 40px;
    }
    .contactus, .more {
        width: 75%;
        margin: 0px auto;
        height: 100%;
        text-align: left;
    }
    .contactus a {
        display: inline-flex;
        justify-content: space-between;
        margin: auto 0px;
    }
    .tag:hover {
        color: red;
    }
    .logincreate button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        background: none;
    }
    
    .logincreate button:hover {
        color: red;
        text-decoration: underline;
    }
    
    form {
        width: 60%;
        height: auto;
        margin-top: -10px;
        display: inline-block;
        text-align: left;
        padding: 2px;
    }
    form input {
        width: 100%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
    }
    
    form p {
        align-self: left;
        margin-bottom: 5px;
    }
    form button {
        margin: 25px auto;
        width: 100%;
        height: 40px;
        background: rgb(128, 193, 219);
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    #usertype {
        width: 245px;
        background: none;
        height: 25px;
        border: 1px solid black;
    }
    .top2, .cont2, .footer2, .search2, .popup, .scriptdesc, .tophouses {
        display: none;
        width: 0px;
        height: 0px;
    }
}

@media (min-width: 412px) and (max-width: 819px) {
    .login {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        margin: 15px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        background: rgb(128, 193, 219);
        color: white; 
        padding-left: 6px;
    }
    .signin {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 110px;
        height: 50px;
        margin: 15px;
        margin-right: 5px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgb(128, 193, 219);
        color: rgb(128, 193, 219);
        background: ivory;
        padding-left: 6px;
    }
    
    .txt {
        padding-left: 3px;
        padding-bottom: 10px;
        padding-top: 2px;
    }
    .signin .txt {
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 0px;
        color: black;
    }
    
    
    button:hover {
        
        cursor: pointer;
    }
    /*start*/
    .logincont {
        width: 400px;
        height: 520px;
        margin: 30px auto;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
        margin-top: 80px;
    }
    
    .logincreate {
        display: inline-flex;
        width: 99%;
        margin: 10px auto;
        height: 45px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .logincont b {
        font-size: 20px;
    }
    
    
    .logincreate button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        background: none;
    }
    
    .logincreate button:hover {
        color: red;
        text-decoration: underline;
    }
    
    form {
        width: 60vw;
        height: auto;
        margin-top: -10px;
        display: inline-block;
        text-align: left;
        padding: 2px;
    }
    form input {
        width: 100%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
    }
    
    form p {
        align-self: left;
        margin-bottom: 5px;
    }
    form button {
        margin: 25px auto;
        width: 100%;
        height: 40px;
        background: rgb(128, 193, 219);
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    #usertype {
        width: 245px;
        background: none;
        height: 25px;
        border: 1px solid black;
    }
    .footer2 {
        width: 100vw;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
        padding: 10px;
        margin-top: -15px;
        overflow-x: hidden;
        margin-left: -7.79px;
        color: white;
    }
    .ndfooter2 {
        width: 100%;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
    }
    .footer2 .mylogo {
        margin-left: -40px;
    }
    .footer2 svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .rightfooter2 {
        width: 100%;
        height: 100%;
        background: black;
        text-align: center;
        
    }
    .leftfooter2 {
        width: 100%;
        height: 100%;
        display: inline-flex;
        background: black;
        text-align: left;
        margin-right: 40px;
    }
    .contactus2, .more2 {
        width: 75%;
        margin: 0px auto;
        height: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .contactus2 a {
        display: inline-flex;
        justify-content: space-between;
        margin: auto 0px;
        margin-bottom: 20px;
    }
    .scriptdesc, .topcards, .tophouses {
        display: none;
        width: 0px;
        height: 0px;
    }
    #detaillink {
        width: 100%;
        height: 100%;
        background: red;
    }
    .popup {
        width: 0px;
        height: 0px;
        display: none;
        text-align: center; 
    }

    .top2 {
        display: inline-flex;
        justify-content: space-between;
        width: 100vw;
        padding: 5px;
        
        margin: 0px auto;
        height: 100px;
        position: fixed;
        background: ivory;
        z-index: 1;
        margin-top: -15px;
        margin-left: -210px;
    }
    
    .menubtn {
        background: none;
        border: none;
        height: 100%;
        margin: auto 0px;
        margin-top: -5px;
    }
    .menubtn button {
        border: none;
        width: 40px;
        height: 40px;
        margin: auto 0px;
        margin-top: 25px;
    }
    .logoname {
        display: inline-flex;
        width: 30%;
        text-align: left;
        margin-right: 20vw;
    }
    
    .mylogo {
        padding: 15px;
        height: 60px;
        margin: 0px auto;
        text-align: left;
    }
    .top, .cont, .footer, .ndfooter, .leftfooter, .end, .top .logoname{
        display: none;
        width: 0px; height: 0px;
    }
}

@media (min-width: 375px) and (max-width: 389px) {
    .login {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        margin: 15px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        background: rgb(128, 193, 219);
        color: white; 
        padding-left: 6px;
    }
    .signin {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 110px;
        height: 50px;
        margin: 15px;
        margin-right: 5px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgb(128, 193, 219);
        color: rgb(128, 193, 219);
        background: ivory;
        padding-left: 6px;
    }
    
    .txt {
        padding-left: 3px;
        padding-bottom: 10px;
        padding-top: 2px;
    }
    .signin .txt {
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 0px;
        color: black;
    }
    
    
    button:hover {
        
        cursor: pointer;
    }
    /*start*/
    .logincont {
        width: 98vw;
        height: 520px;
        margin: 30px auto;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
        margin-top: 80px;
    }
    
    .logincreate {
        display: inline-flex;
        width: 99%;
        margin: 10px auto;
        height: 45px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .logincont b {
        font-size: 20px;
    }
    
    
    .logincreate button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        background: none;
    }
    
    .logincreate button:hover {
        color: red;
        text-decoration: underline;
    }
    
    form {
        width: 60vw;
        height: auto;
        margin-top: -10px;
        display: inline-block;
        text-align: left;
        padding: 2px;
    }
    form input {
        width: 100%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
    }
    
    form p {
        align-self: left;
        margin-bottom: 5px;
    }
    form button {
        margin: 25px auto;
        width: 100%;
        height: 40px;
        background: rgb(128, 193, 219);
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    #usertype {
        width: 245px;
        background: none;
        height: 25px;
        border: 1px solid black;
    }
    .footer2 {
        width: 100vw;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
        padding: 10px;
        margin-top: -15px;
        overflow-x: hidden;
        margin-left: -7.79px;
        color: white;
    }
    .ndfooter2 {
        width: 100%;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
    }
    .footer2 .mylogo {
        margin-left: -40px;
    }
    .footer2 svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .rightfooter2 {
        width: 100%;
        height: 100%;
        background: black;
        text-align: center;
        
    }
    .leftfooter2 {
        width: 100%;
        height: 100%;
        display: inline-flex;
        background: black;
        text-align: left;
        margin-right: 40px;
    }
    .contactus2, .more2 {
        width: 75%;
        margin: 0px auto;
        height: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .contactus2 a {
        display: inline-flex;
        justify-content: space-between;
        margin: auto 0px;
        margin-bottom: 20px;
    }
    .scriptdesc, .topcards, .tophouses {
        display: none;
        width: 0px;
        height: 0px;
    }
    #detaillink {
        width: 100%;
        height: 100%;
        background: red;
    }
    .popup {
        width: 0px;
        height: 0px;
        display: none;
        text-align: center; 
    }

    .top2 {
        display: inline-flex;
        justify-content: space-between;
        width: 100vw;
        padding: 5px;
        
        margin: 0px auto;
        height: 100px;
        position: fixed;
        background: ivory;
        z-index: 1;
        margin-top: -15px;
        margin-left: -190px;
    }
    
    .menubtn {
        background: none;
        border: none;
        height: 100%;
        margin: auto 0px;
        margin-top: -5px;
    }
    .menubtn button {
        border: none;
        width: 40px;
        height: 40px;
        margin: auto 0px;
        margin-top: 25px;
    }
    .logoname {
        display: inline-flex;
        width: 30%;
        text-align: left;
        margin-right: 20vw;
    }
    
    .mylogo {
        padding: 15px;
        height: 60px;
        margin: 0px auto;
        text-align: left;
    }
    .top, .cont, .footer, .ndfooter, .leftfooter, .end, .top .logoname{
        display: none;
        width: 0px; height: 0px;
    }
}
@media (min-width: 390px) and (max-width: 411px) {
    .login {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        margin: 15px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        background: rgb(128, 193, 219);
        color: white; 
        padding-left: 6px;
    }
    .signin {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 110px;
        height: 50px;
        margin: 15px;
        margin-right: 5px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgb(128, 193, 219);
        color: rgb(128, 193, 219);
        background: ivory;
        padding-left: 6px;
    }
    
    .txt {
        padding-left: 3px;
        padding-bottom: 10px;
        padding-top: 2px;
    }
    .signin .txt {
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 0px;
        color: black;
    }
    
    
    button:hover {
        
        cursor: pointer;
    }
    /*start*/
    .logincont {
        width: 98vw;
        height: 520px;
        margin: 30px auto;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
        margin-top: 80px;
    }
    
    .logincreate {
        display: inline-flex;
        width: 99%;
        margin: 10px auto;
        height: 45px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .logincont b {
        font-size: 20px;
    }
    
    
    .logincreate button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        background: none;
    }
    
    .logincreate button:hover {
        color: red;
        text-decoration: underline;
    }
    
    form {
        width: 60vw;
        height: auto;
        margin-top: -10px;
        display: inline-block;
        text-align: left;
        padding: 2px;
    }
    form input {
        width: 100%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
    }
    
    form p {
        align-self: left;
        margin-bottom: 5px;
    }
    form button {
        margin: 25px auto;
        width: 100%;
        height: 40px;
        background: rgb(128, 193, 219);
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    #usertype {
        width: 245px;
        background: none;
        height: 25px;
        border: 1px solid black;
    }
    .footer2 {
        width: 100vw;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
        padding: 10px;
        margin-top: -15px;
        overflow-x: hidden;
        margin-left: -7.79px;
        color: white;
    }
    .ndfooter2 {
        width: 100%;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
    }
    .footer2 .mylogo {
        margin-left: -40px;
    }
    .footer2 svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .rightfooter2 {
        width: 100%;
        height: 100%;
        background: black;
        text-align: center;
        
    }
    .leftfooter2 {
        width: 100%;
        height: 100%;
        display: inline-flex;
        background: black;
        text-align: left;
        margin-right: 40px;
    }
    .contactus2, .more2 {
        width: 75%;
        margin: 0px auto;
        height: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .contactus2 a {
        display: inline-flex;
        justify-content: space-between;
        margin: auto 0px;
        margin-bottom: 20px;
    }
    .scriptdesc, .topcards, .tophouses {
        display: none;
        width: 0px;
        height: 0px;
    }
    #detaillink {
        width: 100%;
        height: 100%;
        background: red;
    }
    .popup {
        width: 0px;
        height: 0px;
        display: none;
        text-align: center; 
    }

    .top2 {
        display: inline-flex;
        justify-content: space-between;
        width: 100vw;
        padding: 5px;
        
        margin: 0px auto;
        height: 100px;
        position: fixed;
        background: ivory;
        z-index: 1;
        margin-top: -15px;
        margin-left: -199px;
    }
    
    .menubtn {
        background: none;
        border: none;
        height: 100%;
        margin: auto 0px;
        margin-top: -5px;
    }
    .menubtn button {
        border: none;
        width: 40px;
        height: 40px;
        margin: auto 0px;
        margin-top: 25px;
    }
    .logoname {
        display: inline-flex;
        width: 30%;
        text-align: left;
        margin-right: 20vw;
    }
    
    .mylogo {
        padding: 15px;
        height: 60px;
        margin: 0px auto;
        text-align: left;
    }
    .top, .cont, .footer, .ndfooter, .leftfooter, .end, .top .logoname{
        display: none;
        width: 0px; height: 0px;
    }
}
@media (min-width: 360px) and (max-width: 374px) {
    .login {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        margin: 15px;
        margin-right: 0px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        background: rgb(128, 193, 219);
        color: white; 
        padding-left: 6px;
    }
    .signin {
        display: inline-flex;
        border-radius: 20px;
        border: none;
        width: 110px;
        height: 50px;
        margin: 15px;
        margin-right: 5px;
        margin-left: 0px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgb(128, 193, 219);
        color: rgb(128, 193, 219);
        background: ivory;
        padding-left: 6px;
    }
    
    .txt {
        padding-left: 3px;
        padding-bottom: 10px;
        padding-top: 2px;
    }
    .signin .txt {
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 0px;
        color: black;
    }
    
    
    button:hover {
        
        cursor: pointer;
    }
    /*start*/
    .logincont {
        width: 98vw;
        height: 520px;
        margin: 30px auto;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
        margin-top: 80px;
    }
    
    .logincreate {
        display: inline-flex;
        width: 99%;
        margin: 10px auto;
        height: 45px;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .logincont b {
        font-size: 20px;
    }
    
    
    .logincreate button {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        background: none;
    }
    
    .logincreate button:hover {
        color: red;
        text-decoration: underline;
    }
    
    form {
        width: 60vw;
        height: auto;
        margin-top: -10px;
        display: inline-block;
        text-align: left;
        padding: 2px;
    }
    form input {
        width: 100%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
    }
    
    form p {
        align-self: left;
        margin-bottom: 5px;
    }
    form button {
        margin: 25px auto;
        width: 100%;
        height: 40px;
        background: rgb(128, 193, 219);
        border: none;
        border-radius: 5px;
        color: white;
    }
    
    #usertype {
        width: 245px;
        background: none;
        height: 25px;
        border: 1px solid black;
    }
    .footer2 {
        width: 100vw;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
        padding: 10px;
        margin-top: -15px;
        overflow-x: hidden;
        margin-left: -7.79px;
        color: white;
    }
    .ndfooter2 {
        width: 100%;
        height: auto;
        display: inline-block;
        justify-content: space-between;
        background: black;
    }
    .footer2 .mylogo {
        margin-left: -40px;
    }
    .footer2 svg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    
    .rightfooter2 {
        width: 100%;
        height: 100%;
        background: black;
        text-align: center;
        
    }
    .leftfooter2 {
        width: 100%;
        height: 100%;
        display: inline-flex;
        background: black;
        text-align: left;
        margin-right: 40px;
    }
    .contactus2, .more2 {
        width: 75%;
        margin: 0px auto;
        height: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .contactus2 a {
        display: inline-flex;
        justify-content: space-between;
        margin: auto 0px;
        margin-bottom: 20px;
    }
    .scriptdesc, .topcards, .tophouses {
        display: none;
        width: 0px;
        height: 0px;
    }
    #detaillink {
        width: 100%;
        height: 100%;
        background: red;
    }
    .popup {
        width: 0px;
        height: 0px;
        display: none;
        text-align: center; 
    }

    .top2 {
        display: inline-flex;
        justify-content: space-between;
        width: 100vw;
        padding: 5px;
        
        margin: 0px auto;
        height: 100px;
        position: fixed;
        background: ivory;
        z-index: 1;
        margin-top: -15px;
        margin-left: -183px;
    }
    
    .menubtn {
        background: none;
        border: none;
        height: 100%;
        margin: auto 0px;
        margin-top: -5px;
    }
    .menubtn button {
        border: none;
        width: 40px;
        height: 40px;
        margin: auto 0px;
        margin-top: 25px;
    }
    .logoname {
        display: inline-flex;
        width: 30%;
        text-align: left;
        margin-right: 20vw;
    }
    
    .mylogo {
        padding: 15px;
        height: 60px;
        margin: 0px auto;
        text-align: left;
    }
    .top, .cont, .footer, .ndfooter, .leftfooter, .end, .top .logoname{
        display: none;
        width: 0px; height: 0px;
    }
}
